@page "/vets"
@inject ApplicationDbContext DbContext

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Medical Personnel</h1>
	<a href="#" class="btn btn-warning btn-icon-split">
		<span class="icon text-white-50">
			<i class="fas fa-plus"></i>
		</span>
		<span class="text">Add a new vet</span>
	</a>
</div>
@if (Vets == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else
{
	<div class="flex flex-col justify-between h-[480px]">
		<table class="min-w-max w-full table-auto">
			<thead>
			<tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
				<th class="py-3 px-6 text-left">Name</th>
				<th class="py-3 px-6 text-left">Age</th>
				<th class="py-3 px-6 text-center">Date of Graduation</th>
				<th class="py-3 px-6 text-center">&nbsp;</th>
			</tr>
			</thead>
			<tbody class="text-gray-600 text-sm font-light">
			@foreach (var vet in Vets)
			{
				<tr class="border-b border-gray-200 hover:bg-gray-100 odd:bg-white even:bg-slate-50">
					<td class="py-3 px-6 text-left whitespace-nowrap">
						<div class="flex items-center font-weight-bold text-lg">
							@vet?.Name
						</div>
					</td>
					<td class="py-3 px-6 text-left whitespace-nowrap">
						<div class="flex items-center font-weight-bold text-lg">
							@vet?.Age
						</div>
					</td>
					<td class="py-3 px-6 text-center whitespace-nowrap">
                        <div class="flex justify-center font-weight-bold text-lg">
                            <span>@vet.DateOfGraduation?.ToString("dd/MM/yyyy")</span>
                        </div>
					</td>
					<td class="py-3 px-6 text-center">
						<div class="flex item-center justify-center">
							<a href="@($"vets/details/{vet.Id}")" class="w-6 mr-2 transform hover:text-lime-500 hover:scale-110 cursor-pointer">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
								</svg>
							</a>
							<a href="@($"vets/edit/{vet.Id}")" class="w-6 mr-2 transform hover:text-lime-500 hover:scale-110 cursor-pointer">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
								</svg>
							</a>
							<div class="w-6 mr-2 transform hover:text-lime-500 hover:scale-110 cursor-pointer">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
								</svg>
							</div>
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
}

@code {
	private IEnumerable<Vet> Vets { get; set; } = new List<Vet>();

	protected override async Task OnInitializedAsync()
	{
		Vets = await DbContext.Vets.AsNoTracking().ToListAsync();
	}

}