@page "/"
@using VetClinic_Server.Areas.Public.Pages.Shared
@layout PublicLayout
@attribute [AllowAnonymous]

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <title>Petclinic</title>
</head>

<body id="home">
    <!-- NAV -->
    <nav id="main-nav" class="navbar navbar-expand-md navbar-light fixed-top py-2">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="./img/logo/logo.png" width="130" height="50" alt="Petclinic Logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#vets" class="nav-link">Our Vets</a></li>
                    <li class="nav-item"><NavLink href="dashboard" class="nav-link">Login</NavLink></li>
                    <li class="nav-item"><NavLink href="Identity/Account/Register" class="nav-link">Register</NavLink></li>
                </ul>
            </div>
            <!-- div collapse -->
        </div>
        <!-- div.container -->
    </nav>

    <!-- HERO -->
    <section id="hero">
        <div class="primary-overlay text-white">
            <div class="container hero-content">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h1 class="display-2 pt-5">
                            Welcome to Petclinic!
                        </h1>
                        <p class="lead">
                            Your pet is in good hands now...
                        </p>
                        <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                            <i class="fas fa-arrow-circle-right"></i> Find out more
                        </a>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <img src="./img/health.png" alt="Heart with a Paw" style="height: 90%;"
                             class="img-fluid d-none d-lg-block">
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.conatiner -->
        </div>
        <!-- /.primary-overlay text-white -->
    </section>

    <!-- NEWSLETTER -->
    <section id="newsletter" class="text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control form-control-lg mb-resp" placeholder="Enter your name">
                </div>
                <!-- /.col-md-4 -->
                <div class="col-lg-4">
                    <input type="email" class="form-control form-control-lg mb-resp" placeholder="Enter your email">
                </div>
                <!-- /.col-md-4 -->
                <div class="col-lg-4">
                    <button class="btn btn-primary btn-lg btn-block" style="color: white;">
                        <i class="far fa-envelope"></i> Subscribe
                    </button>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- BOXES -->
    <section id="boxes" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card py-3 px-2 text-center border-primary mb-resp">
                        <div class="icon-wrapper">
                            <!--                        <i class="fas fa-user-nurse"></i>-->
                            <img class="color-icon" src="img/boxes/vet.png" alt="logo of a vet">
                        </div>
                        <h3 class="text-primary">Experienced Veterinarians</h3>
                        <p class="text-muted">
                            We have managed to gather a team of experienced veterinarians that are always
                            happy to help you and your four-legged friends.
                        </p>
                    </div>
                    <!-- /.card text-center border-primary mb-resp -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-lg-3">
                    <div class="card py-3 px-2 text-center border-primary mb-resp">
                        <div class="icon-wrapper">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <h3 class="text-primary">Modern <br> Equipment</h3>
                        <p class="text-muted">
                            We are very concerned about the quality of our equipment because it helps us
                            to deliver the best service for your pets.
                        </p>
                    </div>
                    <!-- /.card text-center border-primary mb-resp -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-lg-3">
                    <div class="card py-3 px-2 text-center border-primary mb-resp">
                        <div class="icon-wrapper">
                            <!--                        <i class="fas fa-ambulance"></i>-->
                            <img class="color-icon" src="img/boxes/ambulance.png" alt="logo of an ambulance">
                        </div>
                        <h3 class="text-primary">House <br> call</h3>
                        <p class="text-muted">
                            There is a possibility for ordering a house call by a veterinarian in some
                            cases.
                        </p>
                    </div>
                    <!-- /.card text-center border-primary mb-resp -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-lg-3">
                    <div class="card py-3 px-2 text-center border-primary mb-resp">
                        <div class="icon-wrapper">
                            <i class="fas fa-paw"></i>
                        </div>
                        <h3 class="text-primary">Online <br>Consultations</h3>
                        <p class="text-muted">
                            We are always happy to help and give free online consultations for our
                            clients.
                        </p>
                    </div>
                    <!-- /.card text-center border-primary mb-resp -->
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- ABOUT -->
    <section id="about" class="py-5 text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">Why choose us?</h1>
                        <p class="lead pb-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti
                            dolores id provident quis tenetur.
                        </p>
                    </div>
                    <!-- /.info-header mb-5 -->
                    <!-- ACCORDION -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <a href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i>
                                        Get Inspired
                                    </a>
                                </h5>
                            </div>
                            <!-- /.card-header -->
                            <div id="collapse1" class="collapse show">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid deserunt
                                    dolore esse exercitationem facere id itaque modi molestias necessitatibus nostrum quos
                                    recusandae, sequi totam. Accusantium, architecto asperiores aspernatur at consequuntur,
                                    dignissimos dolores error excepturi ipsum maiores, minus neque odio officiis quaerat
                                    repudiandae soluta sunt unde voluptatem! Illo, quo!
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /#collapse1.collapse show -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <a href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i>
                                        Gain The Knowledge
                                    </a>
                                </h5>
                            </div>
                            <!-- /.card-header -->
                            <div id="collapse2" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid deserunt
                                    dolore esse exercitationem facere id itaque modi molestias necessitatibus nostrum quos
                                    recusandae, sequi totam. Accusantium, architecto asperiores aspernatur at consequuntur,
                                    dignissimos dolores error excepturi ipsum maiores, minus neque odio officiis quaerat
                                    repudiandae soluta sunt unde voluptatem! Illo, quo!
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /#collapse1.collapse show -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <a href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i>
                                        Open Your Mind
                                    </a>
                                </h5>
                            </div>
                            <!-- /.card-header -->
                            <div id="collapse3" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid deserunt
                                    dolore esse exercitationem facere id itaque modi molestias necessitatibus nostrum quos
                                    recusandae, sequi totam. Accusantium, architecto asperiores aspernatur at consequuntur,
                                    dignissimos dolores error excepturi ipsum maiores, minus neque odio officiis quaerat
                                    repudiandae soluta sunt unde voluptatem! Illo, quo!
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /#collapse1.collapse show -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /#accordion -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- VETS -->
    <section id="vets" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">Our Vets</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa dignissimos maxime?
                            Aliquam, debitis, ipsa!
                        </p>
                    </div>
                    <!-- /.info-header -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/vets/vet-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Anna Larsen</h3>
                            <h5 class="text-muted">Exotic Animal Vet</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nihil?</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-instagram-square"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/vets/vet-2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Kasper Lund</h3>
                            <h5 class="text-muted">Vet</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nihil?</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-instagram-square"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/vets/vet-3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Odd Karlsen</h3>
                            <h5 class="text-muted">Vet</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nihil?</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-instagram-square"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/vets/vet-4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Sofia Andersen</h3>
                            <h5 class="text-muted">Exotic Animal Vet</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nihil?</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fab fa-instagram-square"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- CONTACT -->
    <section id="contact" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Get In Touch</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, tempore.</p>
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <!-- /.input-group-prepend -->
                            <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                                   aria-describedby="basic-addon1">
                        </div>
                        <!-- /.input-group -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fas fa-envelope-open"></i>
                                </span>
                            </div>
                            <!-- /.input-group-prepend -->
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                   aria-describedby="basic-addon2">
                        </div>
                        <!-- /.input-group-text -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </div>
                            <!-- /.input-group-prepend -->
                            <textarea type="text" class="form-control" placeholder="Message" aria-label="Message"
                                      aria-describedby="basic-addon3" rows="5"></textarea>
                        </div>
                        <!-- /.input-group-text -->
                        <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                    </form>
                </div>
                <!-- /.col-lg-9 -->
                <div class="col-lg-3 align-self-center">
                    <img src="img/logo/logo.png" alt="" class="img-fluid">
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="py-5 bg-primary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 ml-auto">
                    <p class="lead">
                        Copyright &copy; <span id="year"></span>
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row text-center -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>
